.App {
  text-align: center;
  /*filter: invert(100%);*/
}

.room-logo {
  height: 40vmin;
  opacity: 0.9;
  margin-top: -40px;
  cursor: pointer;
}

.text-logo {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}

.text-logo > img {
  height: 40px;
    opacity: 0.9;
    padding: 20px;
    margin: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-radius: 12px;
}

.text-instructions {
  position: absolute;
  color: white;
  width: 255px;
  opacity: 0.8;
  padding: 20px;
  margin: 10px;
  color: #ffbe2e;
  color: black;
  color: #090918;
  position: absolute;
  bottom: 0;
  left: 0;
  cursor: crosshair;
}

.text-instructions::selection, .text-logo > img::selection, .room-logo::selection {
  background: white; /* WebKit/Blink Browsers */
}

.App-header {
  background-color: #090918;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.background-image {
  background-image: url("./test_gif.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /**background-size: 85% auto;**/
  position: relative;
  background-attachment: fixed;
}

.enter-subtitles {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  color: white;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 3px 5px;
  display: none;
}



