.App {
  text-align: center;
  filter: invert(100%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  opacity: 0.9;
}

.text-logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  opacity: 1;
}

.text-logo > img {
  height: 40px;
    opacity: 0.9;
    padding: 20px;
    margin: 10px;
    border-radius: 12px;
}


.App-header {
  background-color: #090918;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.background-image {
  background-image: url("./test_gif.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 85% auto;
  position: relative;
  background-attachment: fixed;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
